-- MySQL dump 10.13  Distrib 8.4.6, for Win64 (x86_64)
--
-- Host: localhost    Database: library_db
-- ------------------------------------------------------
-- Server version	8.4.6

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `library_db`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `library_db` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `library_db`;

--
-- Table structure for table `activity_log`
--

DROP TABLE IF EXISTS `activity_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `activity_log` (
  `log_id` int NOT NULL AUTO_INCREMENT,
  `action` varchar(50) NOT NULL,
  `details` varchar(255) DEFAULT NULL,
  `action_date` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`log_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_log`
--

LOCK TABLES `activity_log` WRITE;
/*!40000 ALTER TABLE `activity_log` DISABLE KEYS */;
INSERT INTO `activity_log` VALUES (1,'ISSUE','Loan 1: Book 1 to Member 1','2025-08-13 19:28:49'),(2,'ISSUE','Loan 2: Book 4 to Member 2','2025-08-13 19:28:49'),(3,'ISSUE','Loan 3: Book 2 to Member 3','2025-08-13 19:28:49'),(4,'RETURN','Loan 1 returned on 2025-08-14','2025-08-13 19:29:17'),(5,'RETURN','Loan 2 returned on 2025-08-14','2025-08-13 19:34:34');
/*!40000 ALTER TABLE `activity_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `authors`
--

DROP TABLE IF EXISTS `authors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `authors` (
  `author_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `nationality` varchar(60) DEFAULT NULL,
  PRIMARY KEY (`author_id`),
  UNIQUE KEY `uk_author_name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `authors`
--

LOCK TABLES `authors` WRITE;
/*!40000 ALTER TABLE `authors` DISABLE KEYS */;
INSERT INTO `authors` VALUES (1,'J. K. Rowling','UK'),(2,'George R. R. Martin','USA'),(3,'J. R. R. Tolkien','UK'),(4,'Agatha Christie','UK'),(5,'Chetan Bhagat','India');
/*!40000 ALTER TABLE `authors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `books`
--

DROP TABLE IF EXISTS `books`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `books` (
  `book_id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(200) NOT NULL,
  `author_id` int NOT NULL,
  `category_id` int NOT NULL,
  `published_year` year DEFAULT NULL,
  `price` decimal(8,2) DEFAULT '0.00',
  `total_copies` int NOT NULL,
  `available_copies` int NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`book_id`),
  KEY `idx_books_title` (`title`),
  KEY `idx_books_author` (`author_id`),
  KEY `idx_books_category` (`category_id`),
  CONSTRAINT `fk_books_author` FOREIGN KEY (`author_id`) REFERENCES `authors` (`author_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_books_category` FOREIGN KEY (`category_id`) REFERENCES `categories` (`category_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `books_chk_1` CHECK ((`price` >= 0)),
  CONSTRAINT `books_chk_2` CHECK ((`total_copies` >= 0)),
  CONSTRAINT `books_chk_3` CHECK ((`available_copies` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `books`
--

LOCK TABLES `books` WRITE;
/*!40000 ALTER TABLE `books` DISABLE KEYS */;
INSERT INTO `books` VALUES (1,'Harry Potter and the Philosopher\'s Stone',1,1,1997,499.00,10,10,'2025-08-13 18:59:45'),(2,'A Game of Thrones',2,1,1996,699.00,8,7,'2025-08-13 18:59:45'),(3,'The Hobbit',3,1,1937,399.00,5,5,'2025-08-13 18:59:45'),(4,'Murder on the Orient Express',4,2,1934,299.00,6,6,'2025-08-13 18:59:45'),(5,'2 States',5,4,2009,199.00,4,4,'2025-08-13 18:59:45');
/*!40000 ALTER TABLE `books` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categories` (
  `category_id` int NOT NULL AUTO_INCREMENT,
  `category_name` varchar(60) NOT NULL,
  PRIMARY KEY (`category_id`),
  UNIQUE KEY `uk_category_name` (`category_name`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories`
--

LOCK TABLES `categories` WRITE;
/*!40000 ALTER TABLE `categories` DISABLE KEYS */;
INSERT INTO `categories` VALUES (1,'Fantasy'),(2,'Mystery'),(5,'Non-Fiction'),(4,'Romance'),(3,'Thriller');
/*!40000 ALTER TABLE `categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fines`
--

DROP TABLE IF EXISTS `fines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fines` (
  `fine_id` int NOT NULL AUTO_INCREMENT,
  `loan_id` int NOT NULL,
  `amount` decimal(8,2) NOT NULL,
  `paid` enum('No','Yes') NOT NULL DEFAULT 'No',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`fine_id`),
  UNIQUE KEY `uk_fines_loan` (`loan_id`),
  CONSTRAINT `fk_fines_loan` FOREIGN KEY (`loan_id`) REFERENCES `loans` (`loan_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fines_chk_1` CHECK ((`amount` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fines`
--

LOCK TABLES `fines` WRITE;
/*!40000 ALTER TABLE `fines` DISABLE KEYS */;
INSERT INTO `fines` VALUES (1,2,25.00,'No','2025-08-13 19:34:34');
/*!40000 ALTER TABLE `fines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `loans`
--

DROP TABLE IF EXISTS `loans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `loans` (
  `loan_id` int NOT NULL AUTO_INCREMENT,
  `book_id` int NOT NULL,
  `member_id` int NOT NULL,
  `loan_date` date NOT NULL DEFAULT (curdate()),
  `due_date` date NOT NULL,
  `return_date` date DEFAULT NULL,
  `status` enum('Issued','Returned','Overdue') NOT NULL DEFAULT 'Issued',
  PRIMARY KEY (`loan_id`),
  KEY `fk_loans_book` (`book_id`),
  KEY `fk_loans_member` (`member_id`),
  CONSTRAINT `fk_loans_book` FOREIGN KEY (`book_id`) REFERENCES `books` (`book_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_loans_member` FOREIGN KEY (`member_id`) REFERENCES `members` (`member_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loans`
--

LOCK TABLES `loans` WRITE;
/*!40000 ALTER TABLE `loans` DISABLE KEYS */;
INSERT INTO `loans` VALUES (1,1,1,'2025-08-14','2025-08-21','2025-08-14','Issued'),(2,4,2,'2025-08-14','2025-08-09','2025-08-14','Issued'),(3,2,3,'2025-08-14','2025-08-28',NULL,'Issued');
/*!40000 ALTER TABLE `loans` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_loans_before_insert` BEFORE INSERT ON `loans` FOR EACH ROW BEGIN
    DECLARE available INT;

    -- Get the available copies for the book
    SELECT available_copies INTO available
    FROM books
    WHERE book_id = NEW.book_id;

    -- If no copies are available, block the insert
    IF available <= 0 THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'No available copies for this book.';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_loans_after_insert` AFTER INSERT ON `loans` FOR EACH ROW BEGIN
    -- Decrement available copies
    UPDATE books
    SET available_copies = available_copies - 1
    WHERE book_id = NEW.book_id;

    -- Log the activity
    INSERT INTO activity_log(action, details)
    VALUES ('ISSUE', CONCAT('Loan ', NEW.loan_id, ': Book ', NEW.book_id, ' to Member ', NEW.member_id));
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_loans_after_update_return` AFTER UPDATE ON `loans` FOR EACH ROW BEGIN
    -- Check if the book was just returned
    IF NEW.return_date IS NOT NULL AND OLD.return_date IS NULL THEN
        
        -- Increment available copies
        UPDATE books
        SET available_copies = available_copies + 1
        WHERE book_id = NEW.book_id;

        -- Log the return activity
        INSERT INTO activity_log(action, details)
        VALUES ('RETURN', CONCAT('Loan ', NEW.loan_id, ' returned on ', NEW.return_date));
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `members`
--

DROP TABLE IF EXISTS `members`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `members` (
  `member_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `email` varchar(120) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `join_date` date NOT NULL DEFAULT (curdate()),
  PRIMARY KEY (`member_id`),
  UNIQUE KEY `uk_members_email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `members`
--

LOCK TABLES `members` WRITE;
/*!40000 ALTER TABLE `members` DISABLE KEYS */;
INSERT INTO `members` VALUES (1,'Aarav Sharma','aarav@example.com','9876543210','2025-08-14'),(2,'Isha Verma','isha@example.com','9876501234','2025-08-14'),(3,'Rohan Mehta','rohan@example.com','9876512345','2025-08-14');
/*!40000 ALTER TABLE `members` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `v_current_loans`
--

DROP TABLE IF EXISTS `v_current_loans`;
/*!50001 DROP VIEW IF EXISTS `v_current_loans`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_current_loans` AS SELECT 
 1 AS `loan_id`,
 1 AS `title`,
 1 AS `member_name`,
 1 AS `loan_date`,
 1 AS `due_date`,
 1 AS `days_left`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_member_fines`
--

DROP TABLE IF EXISTS `v_member_fines`;
/*!50001 DROP VIEW IF EXISTS `v_member_fines`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_member_fines` AS SELECT 
 1 AS `member_id`,
 1 AS `name`,
 1 AS `total_fines`,
 1 AS `unpaid_entries`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_overdue_loans`
--

DROP TABLE IF EXISTS `v_overdue_loans`;
/*!50001 DROP VIEW IF EXISTS `v_overdue_loans`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_overdue_loans` AS SELECT 
 1 AS `loan_id`,
 1 AS `title`,
 1 AS `member_name`,
 1 AS `loan_date`,
 1 AS `due_date`,
 1 AS `days_overdue`*/;
SET character_set_client = @saved_cs_client;

--
-- Dumping routines for database 'library_db'
--
/*!50003 DROP FUNCTION IF EXISTS `fn_calc_fine` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `fn_calc_fine`(p_due_date DATE, p_return_date DATE) RETURNS decimal(8,2)
    DETERMINISTIC
BEGIN
    DECLARE days_late INT;
    SET days_late = GREATEST(DATEDIFF(p_return_date, p_due_date), 0);
    RETURN days_late * 5.00;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_issue_book` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_issue_book`(IN p_member_id INT, IN p_book_id INT, IN p_days INT)
myproc: BEGIN
    DECLARE v_available INT;
    DECLARE v_due DATE;

    START TRANSACTION;

    -- Check member exists
    IF (SELECT COUNT(*) FROM members WHERE member_id = p_member_id) = 0 THEN
        ROLLBACK;
        SELECT 'Member not found' AS error_message;
        LEAVE myproc;
    END IF;

    -- Check book exists
    IF (SELECT COUNT(*) FROM books WHERE book_id = p_book_id) = 0 THEN
        ROLLBACK;
        SELECT 'Book not found' AS error_message;
        LEAVE myproc;
    END IF;

    -- Check availability
    SELECT available_copies INTO v_available
    FROM books
    WHERE book_id = p_book_id
    FOR UPDATE;

    IF v_available <= 0 THEN
        ROLLBACK;
        SELECT 'No available copies to issue' AS error_message;
        LEAVE myproc;
    END IF;

    -- Calculate due date
    SET v_due = DATE_ADD(CURDATE(), INTERVAL p_days DAY);

    -- Insert loan (triggers handle decrement & logging)
    INSERT INTO loans(book_id, member_id, due_date)
    VALUES (p_book_id, p_member_id, v_due);

    COMMIT;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_return_book` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_return_book`(IN p_loan_id INT, IN p_return_date DATE)
myproc: BEGIN
    DECLARE v_due DATE;
    DECLARE v_amount DECIMAL(8,2);

    START TRANSACTION;

    -- Ensure loan exists
    IF (SELECT COUNT(*) FROM loans WHERE loan_id = p_loan_id) = 0 THEN
        ROLLBACK;
        SELECT 'Loan not found' AS error_message;
        LEAVE myproc;
    END IF;

    -- Lock the loan row and get due date
    SELECT due_date INTO v_due
    FROM loans
    WHERE loan_id = p_loan_id
    FOR UPDATE;

    -- Update return date
    UPDATE loans
    SET return_date = p_return_date
    WHERE loan_id = p_loan_id;

    -- Calculate fine using your function
    SET v_amount = fn_calc_fine(v_due, p_return_date);

    -- Insert or update fine
    IF v_amount > 0 THEN
        INSERT INTO fines(loan_id, amount, paid)
        VALUES (p_loan_id, v_amount, 'No')
        ON DUPLICATE KEY UPDATE amount = VALUES(amount), paid = 'No';
    END IF;

    COMMIT;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Current Database: `library_db`
--

USE `library_db`;

--
-- Final view structure for view `v_current_loans`
--

/*!50001 DROP VIEW IF EXISTS `v_current_loans`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_current_loans` AS select `l`.`loan_id` AS `loan_id`,`b`.`title` AS `title`,`m`.`name` AS `member_name`,`l`.`loan_date` AS `loan_date`,`l`.`due_date` AS `due_date`,(to_days(`l`.`due_date`) - to_days(curdate())) AS `days_left` from ((`loans` `l` join `books` `b` on((`b`.`book_id` = `l`.`book_id`))) join `members` `m` on((`m`.`member_id` = `l`.`member_id`))) where (`l`.`return_date` is null) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_member_fines`
--

/*!50001 DROP VIEW IF EXISTS `v_member_fines`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_member_fines` AS select `m`.`member_id` AS `member_id`,`m`.`name` AS `name`,coalesce(sum(`f`.`amount`),0) AS `total_fines`,sum((`f`.`paid` = 'No')) AS `unpaid_entries` from ((`members` `m` left join `loans` `l` on((`l`.`member_id` = `m`.`member_id`))) left join `fines` `f` on((`f`.`loan_id` = `l`.`loan_id`))) group by `m`.`member_id`,`m`.`name` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_overdue_loans`
--

/*!50001 DROP VIEW IF EXISTS `v_overdue_loans`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_overdue_loans` AS select `l`.`loan_id` AS `loan_id`,`b`.`title` AS `title`,`m`.`name` AS `member_name`,`l`.`loan_date` AS `loan_date`,`l`.`due_date` AS `due_date`,(to_days(curdate()) - to_days(`l`.`due_date`)) AS `days_overdue` from ((`loans` `l` join `books` `b` on((`b`.`book_id` = `l`.`book_id`))) join `members` `m` on((`m`.`member_id` = `l`.`member_id`))) where ((`l`.`return_date` is null) and (`l`.`due_date` < curdate())) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-08-14  1:30:49
